/* Variables */
@import "base/generales";
@import "base/variables";
@import "base/mixins";
@import "base/extend";

/* Importando los archivos sass */
@import "components/form";
@import "components/footer";


/*  Estilos de la pagina home */
main {
	position: relative;
}


.img-carousel1 {
	width: 100%;
	height: auto;
	background-size: cover;
}


.texto-home {
	text-align: center;
}


/* Estilos de contenido principal de pagino home */
h3 {
	padding: 1rem;
}

p {
	padding: 1rem;
}




/* Estilos de pagina preguntas */
.img1 {
	width: 100vw;
	background-size: cover;
}


.slider-frame {
	margin-top: 100px;
	width: 100%;
    height: auto;
	overflow: -moz-hidden-unscrollable;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}