/* Variables */
@import "base/variables";

@import "base/generales";
@import "base/mixins";
@import "base/extend";

/* Importando los archivos sass */
@import "components/footer";
@import "components/form";


/*  Estilos de la pagina home */
main {
	position: relative;
}

.img-carousel1 {
	width: 100%;
	height: auto;
	background-size: cover;
}

.texto-home {
	text-align: center;
}

/* Estilos de contenido principal de pagino home */
h3 {
	padding: 1rem;
}

p {
	padding: 1rem;
}

/* Estilos de la pagina menu  */
h1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.menu-lista {
	justify-content: center;
}

.menu-carta {
	display: flex;
	flex-direction: column;
	align-items: center;
	h3 {
		width: 30rem;
	}
	p{
		width: 30rem;
	}
	@include h3-page-menu;
}

/* Estilos pagina Eventos */
.eventos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem;
	text-align: center;
	.bt-eventos {
		@extend %style-button-p;
		width: 14rem;
	}
}


/* Estilos de pagina preguntas */
.img1 {
	width: 100vw;
	background-size: cover;
}

.preguntas {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	p {
		width: 40rem;
	}
	
}
