
/*  Estilos del Footer  */
footer {
	display: block;
	justify-content: center;
	text-align: center;
	background-image: $back-footer;
	height: 200px;
}

.social-media {
	padding-top: 1rem;
	a {
		padding-left: 1rem;
	}
}

.direccion {
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	p {
		@extend %style-button-p;
		text-align: center;
	}
	a {
		text-decoration: none;
		color: greenyellow;
	}
}

