.banner {
    @extend %banner-form;
}

.card-container {
    display: grid;
    grid-template-columns: 420px 420px;
}

.card-img {
    background: $img-form center/cover no-repeat;
}

.banner h2 {
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.card-content {
    background: #ffff;
    height: 330px;
}

.card-content h3 {
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

form select, form input {
    @extend %from-select;
}

form input[type = text], form input[type = number], form input::placeholder, select {
    color: #9a9a9a;
}

form input[typer = submit] {
    color: #fff;
    background: #f2745f;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

form input [type = submit]:hover {
    opacity: 0.9;
}

@include media-form;