* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
font-family: 'Short Stack', cursive;
}

/*  Estilos del header */
.logo {
	width: 8rem;
    margin-left: 2rem;
}

/* Estilos de los titulos h2 */


h2 {
	text-align: center;
	margin: 1rem;
}

h2::after{
	content: "";
    display: block;
    margin: auto;
    border-top: 3px solid #00955e;
    width: 140px;
    margin-top: 15px;
}

