/* pagina reserva - formulario */
@mixin media-form {
    @media(max-width: 992px) {
        .card-container {
            grid-template-columns: 100%;
            width: 100vw;
        }
        .card-img {
            height: 330px;
        }
    }
}

@mixin h3-page-menu{
    h3::after{
        content: "";
        display: block;
        border-top: 3px solid #00955e;
        width: 300px;
        margin-top: 15px;
    }
}