$primer-color: rgb(255, 253, 250);
$segundo-color: aqua;
$tercer-color: aquamarine;
$back-footer: url(../../Img/imgFooter.png);

/* Variables del formulario */
$img-form: url("../../Img/page-home/platoConCarne.png") center/cover no-repeat;
