$primer-color: rgb(255, 253, 250);
$segundo-color: #5bb982;
$tercer-color: aquamarine;
$back-footer: url("../Img/imgFooter.png");

/* Variables del formulario */
$img-form: url("../Img/page-home/plato-servido.jpg") center/cover no-repeat;
